/* src/assets/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  color: var(--light);
}


.container-background {
  background: rgba(96,96,96, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


:root {
  --dark: #1a1a1a;
  --light: rgb(230,230,230);
}

/* utils */
.text-light {
  color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}